body {
  background: #000000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #444444;
  margin: 4px;
  animation: rolley 1s ease-in infinite;
}

.loading {
  display: flex;
}

.dot:nth-of-type(2) {
  animation-delay: .3s;
}

.dot:nth-of-type(3) {
  animation-delay: .6s;
}

@keyframes rolley {
  0% {
    background: #444444;
  }
  50% {
    background: #ffffff;
  }
}